<html>
    <head>

    </head>
    <body>
        <h3>Recommendations</h3>
        {%for item in items%}
        <div>
            <a href = '/validated?q={{item}}'><h3>{{item}}</h3></a>
            <input placeholder='score' id='{{item}}_score'/>
            <button id='{{item}}' onClick='sendScore(event)'>Score</button>
        </div>

            {%endfor%}
            <script type = 'text/javascript'>

            function sendScore(event)
            {
                scoreElement = document.getElementById(event.target.id+'_score');

                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/validated?q='+event.target.id+'&score='+scoreElement.value);
                xhr.send();

            }

                </script>

    </body>



</html>